# Aegisa Faucet Configurations

# Private key for EVM networks (no 0x prefix necessary, but supported)
FAUCET_PRIVATE_KEY="0x..."

# Mnemonic or Key for IOTA 2.0 Rebased Token Dispensing
IOTA_MNEMONIC="word1 word2 ... word24"
